<style type="text/css">  
    #code{  
        font-family:Arial;  
        font-style:italic;  
        font-weight:bold;  
        border:0;  
        letter-spacing:2px;  
        color:blue;  
        min-width: 100px;
    }
</style>
<header class="topbar">
	<span class="nav">商户功能页面 > 忘记密码</span>
	<div class="btn right" ui-sref="register">注册页面</div>
	<div class="btn right" ui-sref="login">登录页面</div>
</header>
<div class="cox">
	<div class="clear" style="height: 10px;"></div>
	<form name="form" ng-submit="forget(form.$valid)">
	<table class="no_table_border" style="width: calc(100% - 92px);">
	<tr>
		<td class="text_align_right" width="50%">*请输入需要找回登录密码的账号：</td>
		<td>
			<input type="number" name="phone" ng-model="user.phone"  required ng-minlength="11" ng-maxlength="11"/>
				<p class="tip c_warning" ng-show="form.phone.$invalid&&form.phone.$dirty"><i class="fa fa-fw fa-warning"></i>请输入11位手机号</p>
		</td>
	</tr>
	<tr>
		<td class="text_align_right">*请输入验证码：</td>
		<td>
			<input type="text" name="verify_code" ng-model="user.verify_code"  required maxlength="4"/>
			<p class="tip c_warning" ng-show="!Checkcode.Check(user.verify_code)&&form.verify_code.$dirty&&user.verify_code.length==4"><i class="fa fa-fw fa-warning"></i>验证码不正确</p>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type = "button" id="code" ng-click="Checkcode.Create()" ng-init="Checkcode.Create()" ng-value="Checkcode.trueCode"/></td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td colspan="2" class="text_align_center">
			<input type="submit" class="btn btn_mid w1x" ng-class="{active:form.$valid&&Checkcode.Check(user.verify_code)}" value="提交" style="margin-left: 92px;"/>
		</td>
	</tr>
	</table>
	</form>
	<div class="clear" style="height: 10px;"></div>
</div>