<header class="topbar">
	<span class="nav">商户功能页面 > 管理页面 > 门店列表</span>
</header>
<div class="box mc_header">
	<p>
		<span>经销商编号：</span>
		<span>1111111111</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span>账户余额：</span>
		<span>1111 RMB</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span>销售负责人：</span>
		<span>xxx</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span>系统维护人：</span>
		<span>xxx</span>&nbsp;&nbsp;&nbsp;&nbsp;
	</p>
</div>
<div class="box h1x">
	<p class="tip">门店名称：</p>
	<input type="text" name="" id="" value="" class="w2x"/>
	<p class="tip">开通状态：</p>
	<input type="text" name="" id="" value="" class="w2x"/>
	<div class="btn">查询</div>
	<div class="btn">清空</div>
	<div class="btn right" ui-sref="manage.my_store_add">新增门店</div>
</div>

<table border="" cellspacing="" cellpadding="" class="zebra">
	<tr>
		<th>门店名称</th>
		<th>区域</th>
		<th>省份</th>
		<th>所属城市</th>
		<th style="width: 90px;">门店地址</th>
		<th>门店电话</th>
		<th style="width: 90px;">开通状态</th>
		<th>有效期</th>
		<th>POS1</th>
		<th>POS2</th>
		<th width="100px">操作</th>
	</tr>
	<tr ng-repeat="item in Store.list">
		<td>{{item.name}}</td>
		<td>{{item.area}}</td>
		<td>{{item.province}}</td>
		<td>{{item.city}}</td>
		<td>{{item.adress}}</td>
		<td>{{item.tel}}</td>
		<td>{{item.state}}</td>
		<td>{{item.pos1}}</td>
		<td>{{item.pos2}}</td>
		<td>{{item.validity}}</td>
		<td>
			<div class="link" onclick="if(confirm('确认操作？'))$(this).parent().parent().remove()">删除</div>
			<div class="link" ng-click="Store.edit($index,'w_edit')">编辑</div>
			<!--<div class="link" onclick="ow('w_edit_password')">修改密码</div>-->
		</td>
	</tr>
</table>
<div class="window" id="w_edit" onmouseenter="init_window()">
    <header>
        <p>编辑门店</p>
        <button class="close_btn">×</button>
    </header>
    <div class="window_main" >
<form name="form" ng-submit="FormUpdate(!!user.city&&form.$valid)">
	<table class="no_table_border">
	<tr>
		<td class="text_align_right" width="150px">门店名称：</td>
		<td>
			<input type="text" name="name" ng-model="user.name"  value=""  required/>
			<p class="tip c_warning" ng-show="form.name.$invalid"><i class="fa fa-warning"></i>不能为空</p>
		</td>
	</tr>
	<tr>
		<td class="text_align_right" width="150px">区域：</td>
		<td>
			<select name="area1" ng-model="user.area1" >
				<option value="">（请选择）</option>
				<option value="hb">华北</option>
				<option value="db">东北</option>
				<option value="hd">华东</option>
				<option value="hz">华中</option>
				<option value="hn">华南</option>
				<option value="xn">西南</option>
				<option value="xb">西北</option>
				<option value="oo">其他</option>
			</select>
			<p class="tip c_warning" ng-show="!user.area1"><i class="fa fa-warning"></i>请选择</p>
		</td>
	</tr>
	<tr>
		<td class="text_align_right">总部所在地：</td>
		<td>
			<select name="province1" ng-model="user.province1" ng-options="CityData.label for CityData in CityData | filter: {area: user.area1}">
				<option value="">（请选择）</option>
			</select>
			<select name="city1" ng-model="user.city1" ng-options="province1.label for province1 in user.province1.cities">
				<option value="">（请选择）</option>
			</select>
			<p class="tip c_warning" ng-show="!user.city1"><i class="fa fa-warning"></i>不能为空</p>
		</td>
	</tr>
	<tr>
		<td class="text_align_right" width="150px">门店地址：</td>
		<td>
			<input type="text" name="adress" ng-model="user.adress" required/>
			<p class="tip c_warning" ng-show="!user.adress"><i class="fa fa-warning"></i>不能为空</p>
		</td>
	</tr>
	<tr>
		<td class="text_align_right" width="150px">门店电话：</td>
		<td>
			<input type="text" name="tel" ng-model="user.tel" required=""/>
			<p class="tip c_warning" ng-show="!user.tel"><i class="fa fa-warning"></i>不能为空</p>
		</td>
	</tr>
	<tr class="no_table_border">
		<td></td><td></td>
	</tr>
	<tr class="no_table_border">
		<td></td>
		<td>
			<input type="submit" class="btn" ng-class="{active:!!user.city&&form.$valid}" value="确认"/>
			<input type="reset"  class="btn active" value="重置"/>
		</td>
	</tr>
	</table>
</form>
    </div>
</div>


<div class="window" id="w_edit_password" onmouseenter="init_window()">
    <header>
        <p>修改密码</p>
        <button class="close_btn">×</button>
    </header>
    <div class="window_main" >
	<form name="form" ng-submit="FromPassword(user.repassword==user.password&&form.$valid)">
	<table class="no_table_border">
		<tr>
			<td class="text_align_right">*密码：</td>
			<td><input type="password" name="password" ng-model="user.password"  value=""  required/>
				<p class="tip c_error" ng-show="user.password&&user.password.length<=6"></i>强度：弱 ███</p>
				<p class="tip c_warning" ng-show="user.password.length>6&&user.password.length<=12"></i>强度：中 ██████</p>
				<p class="tip c_success"  ng-show="user.password.length>12"></i>强度：强 █████████</p>
			</td>
		</tr>
	<tr>
		<td class="text_align_right">*再次输入密码：</td>
		<td>
			<input type="password" name="repassword" ng-model="user.repassword"  value=""  required/>
			<p class="tip c_error" ng-show="user.repassword!=user.password&&user.repassword">与第一次密码不符</p>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" class="btn" ng-class="{active:form.$valid&&user.repassword==user.password}" value="提交注册"/></td>
	</tr>
	</table>
	</form>
    </div>
</div>



